/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #e5e5e5;
$dark-gray                  : #333333;
$darker-gray                : #000000;
$light-gray                 : #f2f2f2;
$lighter-gray               : #fafafa;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 0;
$box-shadow                 : none;
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #{$lighter-gray};
    --global-border-color               : #{$gray};
    --global-dark-border-color          : #{$dark-gray};
    --global-code-background-color      : #{$lighter-gray};
    --global-code-text-color            : #{$dark-gray};
    --global-fig-caption-color          : #{$dark-gray};
    --global-link-color                 : #007bff;
    --global-link-color-hover           : #0056b3;
    --global-link-color-visited         : #007bff;  
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #007bff;    
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}