{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="bibliography-item">
      <h2 class="bibliography-title">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      <p class="bibliography-authors">{{ post.citation }}</p>
      <p class="bibliography-venue"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      <div class="bibliography-links">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" class="bibliography-link"><i class="fas fa-file-pdf"></i> PDF</a>
        {% endif %}
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="bibliography-link"><i class="fas fa-file-powerpoint"></i> Slides</a>
        {% endif %}
        {% if post.bibtexurl %}
          <a href="{{ post.bibtexurl }}" class="bibliography-link"><i class="fas fa-book"></i> BibTeX</a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
