<div class="publication-item">
  <div class="publication-details">
    <h3 class="publication-title"><b>{{ post.title }}</b></h3>
    <p class="publication-authors">With: {{ post.authors }}</p>
    <p class="publication-venue">
      {% if post.venue contains "arXiv" %}
        Preprint
      {% else %}
        Accepted to {{ post.venue }}
      {% endif %}
    </p>
    <div class="publication-links">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="publication-link" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/images/arxiv-logo.png" alt="arXiv" class="arxiv-logo">
        </a>
      {% endif %}
    </div>
  </div>
</div>
