.bibliography-item {
  margin-bottom: 2em;
}

.bibliography-title {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

.bibliography-authors {
  margin-bottom: 0.25em;
  font-style: italic;
}

.bibliography-venue {
  margin-bottom: 0.5em;
}

.bibliography-links {
  a {
    margin-right: 1em;
    text-decoration: none;
    color: var(--global-link-color);

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 0.5em;
    }
  }
}
