/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.greedy-nav {
  display: grid;
  grid-template-columns:
    var(--site-left-column-width)
    minmax(0, var(--site-center-column-width))
    var(--site-right-column-width);
  align-items: center;
  position: relative;
  width: 100%;
  max-width: var(--site-layout-max-width);
  min-width: 0;
  margin: 0 auto;
  background: var(--global-bg-color);

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: var(--global-masthead-link-color);
    text-decoration: none;

    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }

  .masthead__title {
    grid-column: 1;
    min-width: 0;
    padding: 0 var(--site-column-padding);

    a {
      margin-left: 0;
      margin-right: 0;
      font-weight: 700;
    }
  }

  button {
    grid-column: 3;
    justify-self: end;
  }

  .visible-links {
    display: flex;
    grid-column: 2;
    min-width: 0;
    padding: 0 var(--site-column-padding);
    align-items: center;

    li {
      display: block;
      vertical-align: middle;

      &:first-child {
        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    #theme-toggle {
      a {
        width: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }

    a {
      position: relative;
    }
  }

  .hidden-links {
    grid-column: 2 / 4;
    display: none;
  }
}

@media (max-width: 900px) {
  .greedy-nav {
    grid-template-columns: 1fr auto;
    padding: 0 1em;
  }

  .greedy-nav .masthead__title {
    grid-column: 1;
    padding: 0;
  }

  .greedy-nav button {
    grid-column: 2;
  }

  .greedy-nav .visible-links,
  .greedy-nav .hidden-links {
    grid-column: 1 / 3;
    padding: 0;
  }

  .greedy-nav .visible-links {
    flex-wrap: wrap;
  }
}
