/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.greedy-nav {
  position: relative;
  min-width: 250px;
  background: var(--global-bg-color);

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: var(--global-masthead-link-color);
    text-decoration: none;

    &:hover {
      color: var(--global-masthead-link-color-hover);
    }
  }

  .visible-links {
    display: table;

    li {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        font-weight: bold;
        text-wrap: wrap;

        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    #theme-toggle {
      a {
        width: 25px;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }

    a {
      position: relative;
    }
  }

  .hidden-links {
    display: none;
  }
}
