/* ==========================================================================
   LAYOUT WRAPPER
   ========================================================================== */

.layout-wrapper {
  display: flex;
  margin-top: 2em;
}

.sidebar {
  flex: 0 0 300px; /* Sidebar width */
  padding-right: 2em;
}

.main-content {
  flex: 1; /* Main content takes the remaining space */
  padding-left: 2em;
}


/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.page__title {
  margin-top: 0; /* Remove default margin */
  padding-top: 1em;
  line-height: 1;
}

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: none;
  }

  p, li, dl {
    font-size: 1em;
  }
}
