/* ==========================================================================
   PAGE
   ========================================================================== */

.page__title {
  margin-top: 0;
  line-height: 1;
}

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: none;
  }

  p, li, dl {
    font-size: 1em;
  }
}
