/*
  Container for a single publication entry
*/
.publication-entry {
  margin-bottom: 2rem; /* Space after the entry */
  padding-bottom: 2rem; /* Space before the separator line */
  border-bottom: 1px solid #eee; /* Separator line */
}

/*
  This rule ensures each part of the publication is on its own line
  and has consistent spacing.
*/
.publication-entry > div {
  display: block;
  margin-bottom: 0.75rem;
}

.publication-title {
  font-size: 1.2rem;
}

.publication-authors {
  font-size: 1rem;
  color: #555;
}

.publication-venue {
  font-size: 1rem;
  font-style: italic;
  color: #555;
}

.arxiv-logo {
  width: 50px;
  height: auto;
}
