/*
  Container for a single publication entry
*/
.publication-entry {
  margin-bottom: 1rem; /* Reduced space after the entry */
  padding-bottom: 1rem; /* Reduced space before the separator line */
  border-bottom: 1px solid #eee; /* Separator line */
}

/*
  This rule ensures each part of the publication is on its own line
  and has consistent spacing.
*/
.publication-entry > div {
  display: block;
  margin-bottom: 0.25rem !important; /* Significantly reduced space between lines */
}

.publication-title {
  font-size: 1.2rem;
}

.publication-authors {
  font-size: 1rem;
  color: #555;
}

.publication-venue {
  font-size: 1rem;
  font-style: italic;
  color: #555;
}

.publication-links a {
  text-decoration: none;
  color: var(--global-link-color);
  font-weight: bold;
}

.publication-links a:hover {
  text-decoration: underline;
}

.publication-links i {
  margin-right: 0.5rem;
}

.arxiv-logo {
  width: 50px;
  height: auto;
}

/*
  Publication Section Heading
*/
.publication-section-title {
  margin-top: 2rem;
  margin-bottom: 1rem; /* Reduced space below section title */
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
