.publication-year {
  margin-bottom: 1rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.publication-item {
  margin-bottom: 1.5rem;
}

/* Use Flexbox to force vertical stacking */
.publication-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* This creates space between each item */
}

.publication-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.publication-authors {
  font-size: 1rem;
  color: #555;
}

.publication-venue {
  font-size: 1rem;
  font-style: italic;
  color: #555;
}

.arxiv-logo {
  width: 50px;
  height: auto;
}

.publication-separator {
  border: 0;
  height: 1px;
  background: #eee;
  margin: 2rem 0;
}
