.publication-year {
  margin-bottom: 1rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.publication-item {
  margin-bottom: 1.5rem;
}

.publication-details > div {
  display: block; /* Ensure each element takes its own line */
  margin-bottom: 0.75rem; /* Increased space between each line */
}

.publication-title {
  font-size: 1.2rem;
}

.publication-authors {
  font-size: 1rem;
  color: #555;
}

.publication-venue {
  font-size: 1rem;
  font-style: italic;
  color: #555;
}

.arxiv-logo {
  width: 50px;
  height: auto;
  margin-top: 0.5rem; /* Add some space above the logo */
}

.publication-separator {
  border: 0;
  height: 1px;
  background: #eee;
  margin: 2rem 0;
}
