.publication-item {
  margin-bottom: 2rem;
}

.publication-title {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.publication-authors {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.publication-venue {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  margin-bottom: 0.5rem;
}

.arxiv-logo {
  width: 50px;
  height: auto;
}
