/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.author__avatar {
  text-align: center; /* Center the avatar */
  
  img {
    max-width: 100%;
    width: 200px; /* Set a width */
    height: 250px; /* Set a taller height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 50%; /* This creates the ellipse */
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  text-align: center;
  padding: 1em 0;
}

.author__name {
  margin: 0;
  font-family: $sans-serif;
  font-size: $type-size-4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.author__urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block; /* Make icons horizontal */
    white-space: nowrap;
    margin: 0 0.5em; /* Add space between icons */
  }

  a {
    color: inherit;
    font-size: 2em; /* Adjust icon size */
    text-decoration: none;

    &:hover {
      color: var(--global-link-color-hover);
    }
  }
}
