/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.author__avatar {
  text-align: center;
  
  img {
    max-width: 100%;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--global-border-color);
    padding: 5px;
  }
}

.author__content {
  text-align: center;
  padding: 1em 0;
}

.author__name {
  margin: 0;
  font-family: $sans-serif;
  font-size: $type-size-4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.author__urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    white-space: nowrap;
    margin: 0 0.5em;
  }

  a {
    color: inherit;
    font-size: 2em;
    text-decoration: none;

    &:hover {
      color: var(--global-link-color-hover);
    }
  }
}
