/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  @include clearfix();
  margin-bottom: 1em;

  @include breakpoint($large) {
    float: left;
    width: 300px;
    margin-left: -300px;
    padding-right: 2em;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 100%;
    width: 200px; /* Set a width */
    height: 250px; /* Set a taller height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 50%; /* This creates the ellipse */

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
    }
  }
}

.author__content {
  text-align: center;
  padding: 1em 0;
}

.author__name {
  margin: 0;
  font-family: $sans-serif;
  font-size: $type-size-4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.author__urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block; /* Make icons horizontal */
    white-space: nowrap;
    margin: 0 0.5em; /* Add space between icons */
  }

  a {
    color: inherit;
    font-size: 2em; /* Adjust icon size */
    text-decoration: none;

    &:hover {
      color: var(--global-link-color-hover);
    }
  }
}
