.three-column-layout {
  display: flex;
  width: 100%;
  max-width: 1600px; /* You can adjust this max-width as needed */
  margin: 0 auto;
  padding-top: 4em;
}

.left-column {
  flex: 0 0 25%;
  padding: 0 2em;
}

.center-column {
  flex: 0 0 50%;
  padding: 0 2em;
}

.right-column {
  flex: 0 0 25%;
}
